#open-window {
    position: fixed;
    /* bottom: 20px;
    right: 20px; */
    z-index: 3;
    right: 0px;
    top: 120px;

  }

  #open-window:active {
    box-shadow: none;
  }

  #notification {
    position: relative;
    left: 65%;
    bottom: 30px;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display:none;
  }


  
  .window {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 275px;
    height: 50vh;
    background-color: whitesmoke;
    border: 3px solid #0064a4;
    border-radius: 25px;
    padding: 10px;
    transition: transform 0.3s ease-out;
    transform: translateX(100%);
    padding-top: 0px;
    cursor: grab;
  }

  .window:active {
    cursor: grabbing;
  }
  
  .window-open {
    transform: translateX(0%);
  }

  .button-area {
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    padding-top:20px;
    padding-bottom: 10px;
    height: 20px;
  }

  .close-bag {
    font-size: 1.2rem;
  }
  #bag-window-close {
    font-size: 2.5rem;
    background-color: transparent;
    font-weight: 500;
    font-family: sans-serif;
  }
  
#bag-window-id {

    display: none;
    right: 250px;
    top: 430px;
    overflow-y: scroll;
    width: 250px;
}

.bag-button-class{
  height:0px;

}
/* .bag-icon-wrapper{
  border: solid;
} */

#bag-window-id h1,
#bag-window-id h2,
#bag-window-id h3,
#bag-window-id h4,
#bag-window-id h5,
#bag-window-id h6,
#bag-window-id p {
  color: black;
  text-transform: none;
}

#bag-window-id {
  right: 0px;
  top: 40vh;
}

#bag-window-id h5 {
  font-weight: bold;
}

#bag-window-id ul ul h5 {
  font-weight: normal;
}

#bag-window-id ul ul ul {
  font-size: 1.5rem;
}




#bag-list img {
  width: 40px;
  padding:10px;
  margin-top: -10px;
}


.bag-button{
  border:none;
   background-color:transparent;
   outline:none;
}
.bag-button-class{
 height:0px;

}
/* .bag-icon-wrapper{
 border: solid;
} */

.course-heading {
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.discussion-heading {
  text-decoration: underline;
}


.lab-heading {
  text-decoration: underline;
}


ul .left {
  text-align: right;
  /* padding:1%; */
  margin-right: 50px;
  border-bottom:1px solid black;
}

ul .left img{
  transition: 0.2s;
}
.left img:hover{
  transform: scale(1.3);
}


#bag-list .info {
  font-style: italic;
  font-size: 1.5rem;
}


.bottom {
  text-align: center;
  padding-top: 1.2rem;
  
}
#enroll-button {
  background-color: #0064a4;
  color: white;
  border-radius: 10%;
  text-align: center;
  padding: 2px 5px;
  display: none;
}

.right{
  padding-left: 1.5rem;
}

