#open-window {
    position: relative;
    /* bottom: 20px;
    right: 20px; */
    z-index: 3;
    left:100%;
    bottom: -300px;
  }
  
  .window {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 250px;
    background-color: rgb(162, 125, 125);
    border: 1px solid black;
    padding: 10px;
    transition: transform 0.3s ease-out;
    transform: translateX(100%);
  }
  
  .window-open {
    transform: translateX(0%);
  }
  
#bag-window-id {

    display: none;
    right: 250px;
    top: 430px;
}

.bag-button-class{
  height:0px;

}
.bag-icon-wrapper{
  border: solid;
}

h5,
p {
  color: black;
}

.bag-button{
  border:none;
   background-color:transparent;
   outline:none;
}
.bag-button-class{
 height:0px;

}
/* .bag-icon-wrapper{
 border: solid;
} */