#open-window {
    position: relative;
    /* bottom: 20px;
    right: 20px; */
    z-index: 1000;
    left:100%;
    bottom: -300px;
  }
  
  .window {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 250px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    transition: transform 0.3s ease-out;
    transform: translateX(100%);
  }
  
  .window-open {
    transform: translateX(0%);
  }
  
#bag-window-id {

    display: none;
    right: 250px;
    top: 430px;
}

.bag-button-class{
  height:0px;

}
.bag-icon-wrapper{
  border: solid;
}

#bag-window-id h1,
#bag-window-id h2,
#bag-window-id h3,
#bag-window-id h4,
#bag-window-id h5,
#bag-window-id h6,
#bag-window-id p {
  color: black;
  text-transform: none;
}

#bag-window-id h5 {
  font-weight: bold;
}

#bag-window-id ul ul h5 {
  font-weight: normal;
}

#bag-window-id ul ul ul {
  font-size: 1.5rem;
}

.bag-button{
  border:none;
   background-color:transparent;
   outline:none;
}
.bag-button-class{
 height:0px;

}
/* .bag-icon-wrapper{
 border: solid;
} */