.ScheduleOfClassesContainer {
    padding: 10px;
    padding-left: 20px;
}

table {
    border-collapse: collapse;
    width: calc(100% - 20px);
    table-layout: fixed;
    border-radius: 50%;
  }
  
table h4 {
    width: 500px;
    margin-top: 35px;
    margin-bottom: 10px;

}

tr {
    border: 5px solid white;
}

  td {
    text-align: center;
    word-wrap: break-word;
    font-size: 1.25rem;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 60px;
  }

td:first-child {
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
}

td:last-child {
    border: none;
    text-align: center;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;


}


.table-heading {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 0px;
}

.table-heading * {
    font-size: 0.9rem;
    height: 30px;
}

.main-course {
    background-color: rgb(163, 193, 240);
}

.discussion {
    background-color: rgb(226, 238, 255);
}

.lab {
    background-color: rgb(251, 246, 208);
}

.discussion button,
.lab button {
    display: none;
}

td button {
    background-color: transparent;
    font-size: 2.5rem;
    width: 30px;
    border-radius: 100%;
    font-weight:500;
}

.course-titles {
    margin-top: 30px;
    font-size: 2rem;
    width: 50%;
}

.course-area {
    display: flex;
    width: 1000%;
    justify-content: space-between;
    align-items: end;
}