.ScheduleOfClassesContainer {
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: calc(100% - 20px);
    table-layout: fixed;
  }
  
table h4 {
    width: 500px;
    margin-top: 30px;

}

tr {
    border: 5px solid white;
}

  td {
    text-align: center;
    word-wrap: break-word;
    font-size: 1.25rem;

  }

td:nth-child(10) {
    border: none;
    text-align: center;
}


.table-heading {
    border-bottom: 10px solid white;
    text-transform: uppercase;
    font-weight: bold;
}

.table-heading * {
    font-size: 1rem;
}



.main-course {
    background-color: #F4F5C1;
}

.discussion {
    background-color: #ADD8E6;
}

.lab {
    background-color: #CBC3E3;
}


td button {
    background-color: transparent;
    font-size: 2.5rem;
}