/* Duplicate class alert CSS */
/* ICON CSS */
.warningSignIcon{
  width: 2rem;
}
/* The message box CSS */
.dupNotifyClassName {
  position: fixed;
  top: 10%;
  left: 35%;
  right: 35%;
  width: 30%;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  transition: top 0.5s ease-in-out;
  font-weight:bold;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* transition: 0.2s; */
}

.dupNotifyClassName.active {
  top: 20%;
}

/* User add a dis & lab before lecture */
.disLabNotifyClassName {
  position: fixed;
  top: 10%;
  left: 35%;
  right: 35%;
  width: 30%;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  transition: top 0.5s ease-in-out;
  font-weight:bold;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* transition: 0.2s; */
}

.disLabNotifyClassName.active {
  top: 20%;
}

/* Enroll button alert CSS */
/* User add a dis & lab before lecture */
.greenCheckSignIcon{
  width: 2rem;
}
.enrollNotifyClassName {
  position: fixed;
  top: 10%;
  left: 35%;
  right: 35%;
  width: 30%;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  transition: top 0.5s ease-in-out;
  font-weight:bold;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* transition: 0.2s; */
}

.enrollNotifyClassName.active {
  top: 20%;
}
/* Default List View */
  #defaultListViewPage{
    color: black;
    text-align: center;
    font-size: 2rem;
    padding-top: 20%;
  }