.top {
    display: flex;
    width: 900%;
    align-items: end;
    justify-content: space-between;
}

.top button {
    width: 80px;
    height: 40px;
    border-radius: 15px;
    background-color: #FF8989;

}

#study-list-containerID
{
    overflow-y:scroll !important; 
    overflow: hidden;
    height: 85vh;
    margin-left: 15px;
}
