.majorRequirementHeader{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-top: 20px;
    background-color: #ffd200;
    
}

.majorRequirementHeader p{
    font-weight: bold;
}
.suggestedClassContainer h3{
    font-weight: bold;
    color:black;
}
.suggestedClassTable{
    overflow-y: scroll;
    overflow: hidden;
    height: auto;
}

.suggestedClassContainer{
    overflow-y: scroll;
    overflow: hidden;
}

#suggScrollID
{
    overflow-y: scroll !important;
    overflow: hidden;
}
.suggScroll{
    overflow-y: scroll;
    overflow: hidden;
    height:300px;
}

.electScroll{
    overflow-y: scroll !important;
    overflow: hidden;
    height:250px;
}

#electScrollID
{
    overflow-y: scroll !important;
    overflow: hidden;
}